body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.divider {
	width: 56px;
	height: 2px;
	border-radius: 5px;
	border: none;
}

a {
	text-decoration: none;
}

.container {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

.site-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 140px;
}

.site-nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 550px;
}

.site-nav-list a {
	text-decoration: none;
	color: #1F1534;
	opacity: 0.5;
	font-family: 'Mulish', sans-serif;
	font-size: 18px;
	line-height: 23px;
	transition: opacity 0.3s ease,
				font-weight 0.3s ease;
}

.site-nav-list a:hover {
	font-weight: bold;
	opacity: 1;
}

.active a {
	opacity: 1;
	font-weight: bold;
}

/* Header section */

.site-header {
	display: flex;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	margin-top: 80px;
	justify-content: center;
	align-items: center;
}

.site-left-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 693px;
	height: 598px;
}

.site-left-header-heading {
	display: inline-block;
	width: 450px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
}

.site-left-header-text {
	display: inline-block;
	width: 450px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 32px;
	color: #7D7987;
}	

.site-left-header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 196px;
	height: 56px;
	border: 4px solid #458FF6;
	background-color: #458FF6;
	border-radius: 55px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease,
				color 0.3s ease,
				transform 0.3s ease,
				box-shadow 0.3s ease;
}

.site-left-header-btn:hover {
	background-color: white;
	color: #458FF6;
	transform: scale(1.05);
	box-shadow: 0 0 10px 3px #458FF6;
}

.site-right-header {
	width: 693px;
	height: 598px;
}

/* Services section */

.services-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 50px;
}

.services-section .divider {
	background-color: black;
}

.services-section-heading {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
	text-align: center;
}

.services-section-text {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	text-align: center;	
	color: #7D7987;
	margin-bottom: 50px;
}

.services-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
}

.services-list-item {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	margin: 12px;
	flex-grow: 1;
	width: 350px;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 10px 10px 50px 20px rgba(229, 233, 246, 0.4);
}

.services-list-item img {
	width: 100px;
	height: 100px;
	padding-left: 10px;
}

.services-list-item-heading {
	display: inline-block;
	padding-left: 10px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 70px;
	margin: 0;
}

.services-list-item-text {
	display: inline-block;
	padding-left: 10px;
	width: 300px;
	height: 80px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #7D7987;
}

.learn-more-btn {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	width: 200px;
	height: 60px;
	border-radius: 55px;
	border: 1.4px solid #458FF6;
	background-color: white;
	color: #458FF6;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	text-decoration: none;
	transition: background-color 0.3s ease,
				color 0.3s ease,
				transform 0.3s ease,
				box-shadow 0.3s ease;
	margin-bottom: 200px;
}

.learn-more-btn:hover {
	background-color: #458FF6;
	color: white;
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px #458FF6;
}

.button-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Healthcare section */

.healthcare-section {
	display: flex;
	flex-direction: column;
}

.first-healthcare-section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
}

.first-right-healthcare-section {
	display: flex;
	width: 490px;
	height: 390px;
	flex-direction: column;
}

.first-right-healthcare-section-heading {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
}

.first-right-healthcare-section-text {
	width: 440px;
	font-family: Mulish;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7D7987;
}

.first-right-healthcare-section-divider {
	background-color: black;
	margin-left: 0;
}

.first-right-healtcare-section-button {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	width: 200px;
	height: 60px;
	border-radius: 55px;
	border: 1.4px solid #458FF6;
	background-color: white;
	color: #458FF6;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	text-decoration: none;
	transition: background-color 0.3s ease,
				color 0.3s ease,
				transform 0.3s ease,
				box-shadow 0.3s ease;
	margin-bottom: 200px;
}

.first-right-healtcare-section-button:hover {
	background-color: #458FF6;
	color: white;
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px #458FF6;
}

.second-healthcare-section {
	display: flex;
	justify-content: space-between;
}

.second-left-healthcare-section {
	display: flex;
	width: 490px;
	height: 390px;
	flex-direction: column;
}

.second-left-healthcare-section-heading {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
}

.second-left-healthcare-section-divider {
	background-color: black;
	margin-left: 0;
}

.second-left-healthcare-section-text {
	width: 440px;
	font-family: Mulish;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7D7987;
}

.second-left-healtcare-section-button {
	display: flex;
	margin-top: 50px;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 60px;
	border-radius: 55px;
	border: 1.4px solid #458FF6;
	background-color: white;
	color: #458FF6;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	text-decoration: none;
	transition: background-color 0.3s ease,
				color 0.3s ease,
				transform 0.3s ease,
				box-shadow 0.3s ease;
	margin-bottom: 200px;
}

.second-left-healtcare-section-button span {
	margin-top: -10px;
	font-size: 40px;
	margin-left: 10px;
}

.second-left-healtcare-section-button:hover {
	background-color: #458FF6;
	color: white;
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px #458FF6;
}

/* What our customer are saying section */

.wocas-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	padding: 0 50px;
}

.wocas-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1120px;
	height: 425px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	padding: 0 50px;
	background-image: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
	border-radius: 24px;
}

.wocas-card-heading {
	margin-top: 60px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	color: white;
}

.wocas-wrapper {
	display: flex;
	justify-content: space-between;	
	width: 1000px;
	height: 400px;
}

.avatar-wrapper {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}

.wocas-inner-wrapper {
	display: flex;
	width: 200px;
	height: 200px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wocas-inner-wrapper-heading {
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 48px;
	color: white;
}

.wocas-inner-wrapper-text {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 48px;
	color: rgba(255, 255, 255, 0.85);
}

.wocas-wrapper-text {
	width: 50%;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.9);
}

.wocas-slider-menu {
	display: flex;
	margin-top: 50px;
	width: 330px;
	height: 20px;
	justify-content: space-around;
	align-items: center;
}

/* Check out our latest article */

.coola-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	padding: 0 50px;
}

.coola-heading {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
	color: black;
}

.coola-divider {
	background-color: black;
	margin-bottom: 100px;
}

.coola-cards-wrapper {
	display: flex;
}

.coola-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 17px;
	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	border-radius: 20px;
}

.coola-card-heading {
	display: inline-block;
	width: 250px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 32px;
	color: black;
}

.coola-card-text {
	display: inline-block;
	width: 250px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #7D7987;
}

.coola-card-read-more-link {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 28px;
	color: #4089ED;
}

.coola-card-read-more-link img {
	margin-left: 10px;
}

.coola-section-view-all-button {
	margin-top: 72px;
	display: flex;
	justify-content: center;
	width: 200px;
	height: 60px;
	border-radius: 55px;
	border: 1.4px solid #458FF6;
	background-color: white;
	color: #458FF6;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	text-decoration: none;
	transition: background-color 0.3s ease,
				color 0.3s ease,
				transform 0.3s ease,
				box-shadow 0.3s ease;
	margin-bottom: 200px;
}

.coola-section-view-all-button:hover {
	background-color: #458FF6;
	color: white;
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px #458FF6;
}

/* Footer section */

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1600px;
	height: 430px;
	padding: 200px;
	background-image: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer div {
	margin-right: 50px;
}

.trafalgar {
	display: flex;
	flex-direction: column;
	justify-content: center;
}	

.trafalgar-text {
	display: inline-block;
	width: 390px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: white;
}

.trafalgar-second-text {
	display: inline-block;
	width: 390px;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: white;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer-wrapper div {
	margin-right: 80px;
}

.company-links-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.company-links-wrapper h4 {
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: white;
}	

.company-links-wrapper p {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 10px;
	color: white;
}

.company-links-wrapper p a {
	margin: 0;
	padding: 0;
	color: white;
}

.region-links-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.region-links-wrapper h4 {
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: white;
}

.region-links-wrapper p {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 10px;
	color: white;
}

.region-links-wrapper p a {
	margin: 0;
	padding: 0;
	color: white;
}

.region-links-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.region-links-wrapper h4 {
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: white;
}

.region-links-wrapper p {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 10px;
	color: white;
}

.region-links-wrapper p a {
	margin: 0;
	padding: 0;
	color: white;
}
.region-links-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.region-links-wrapper h4 {
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: white;
}
.region-links-wrapper p {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 10px;
	color: white;
}

.help-links-wrapper p a {
	margin: 0;
	padding: 0;
	color: white;
}

.help-links-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.help-links-wrapper h4 {
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: white;
}

.help-links-wrapper p {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 10px;
	color: white;
}

.help-links-wrapper p a {
	margin: 0;
	padding: 0;
	color: white;
}